body {
  background-color: DarkGreen;
}

@font-face {
    font-family: 'MonospaceTypewriter';
    src: url('MonospaceTypewriter-webfont.woff');
}

h1 {
  color: Honeydew;
}

h2 {
  color: Honeydew;
}

p {
  color: Honeydew;
}

a:link {
  color: Honeydew; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: MintCream;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: Azure;
  background-color: transparent;
  text-decoration: underline;
}
