@charset "utf-8";
@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

body {
	font-family: "Inter", sans-serif;
	background-color: #f0fff8;	
}

body.project {
	font-family: "Inter", sans-serif;
	background-color: #fff0f0;	
}

h {
	text-align: center;
	color: #00b000;
	font-size: 48px;
	text-shadow: rgba(0,192,0,0.2) -3px 0, rgba(0,192,0,0.15) -6px 0, rgba(0,192,0,0.1) -9px 0;
}

h.project {
	text-align: center;
	color: #b00000;
	font-size: 48px;
	text-shadow: rgba(192,0,0,0.2) -3px 0, rgba(192,0,0,0.15) -6px 0, rgba(192,0,0,0.1) -9px 0;
}

h1 {
	text-align: center;
	color: #40b040;
	font-size: 36px;
	
}

h1.project {
	text-align: center;
	color: #b04040;
	font-size: 36px;
	
}

p {
	color: #208020;
	font-size: 24px;
	margin-right: 10%;
	margin-left: 10%;
}

p.project {
	color: #802020;
	font-size: 24px;
	margin-right: 10%;
	margin-left: 10%;
}

a {
	text-decoration: none;
}

button {
	font-family: "Inter", sans-serif;
	font-size: 30px;
	display: inline-block;
}

.green {
	background: #d0ffd0;
    border: 2px solid #a0ffa0;
	border-radius: 4px;
	transition-duration: 0.2s
}
.green :link, .green :visited {
	color: #00b000;
}
.green:hover{
    background: #004000;
	border: 2px solid #002000;
	cursor: pointer
}

.red {
	background: #ffd0d0;
    border: 2px solid #ffa0a0;
	border-radius: 4px;
	transition-duration: 0.2s
}
.red :link, .red :visited {
	color: #b00000;
}
.red:hover{
    background: #400000;
	border: 2px solid #200000;
	cursor: pointer
}

.gray {
	background: #fcfcfc;
    border: 2px solid #d8d8d8;
	border-radius: 4px;
	transition-duration: 0.2s
}
.gray :link, .gray :visited  {
	color: #808080;
}
.gray:hover{
    background: #252525;
	border: 2px solid #101010;
	cursor: pointer
}