@charset "utf-8";
@import url("MonospaceTypewriter");
@import url("FiraSans-Regular/stylesheet.css");
@import url("GenYoGothic_R/stylesheet.css");

body {
	font-family: "MonospaceTypewriter", "GenYoGothic R";
	background-color: #f0fff8;
}

h {
	color: #00b000;
	font-size: 48px;
	text-shadow: rgba(0,192,0,0.3) -3.5px 0, rgba(0,192,0,0.2) -7px 0, rgba(0,192,0,0.1) -10px 0;
}

h1 {
	text-align: center;
	color: #40b040;
	font-size: 36px;
	
}

p {
	color: #208020;
	font-size: 24px;
	margin-right: 10%;
	margin-left: 10%;
}

div.center{
	text-align: center;
}

div.turn{
	transform: rotate(20deg);
	
}

a:link{
	color: #00c000;
	text-decoration: none;
	
}

a:visited{
	color: #00c000;
	text-decoration: none;
}

button {
	font-family: MonospaceTypewriter, "GenYoGothic R";
	font-size: 30px;
	display: inline-block;
	background: #d0ffd0;
	font-weight: bold;
    border: 2px solid #a0ffa0;
	border-radius: 4px;
	transition-duration: 0.2s
}

button:hover{
    background: #004000;
	border: 2px solid #002000;
	cursor: pointer
}
