@charset "utf-8";
@import url("MonospaceTypewriter");
@import url("FiraSans-Regular/stylesheet.css");
@import url("Fira.Xdi8/stylesheet.css");
@import url("Noto Xdi8/stylesheet.css");
@import url("GenYoGothic_R/stylesheet.css");

body {
	font-family: "MonospaceTypewriter", "GenYoGothic R", 'FiraSans Regular';
	background-color: #F0F8FF;
}

h {
	color: #80c0FF;
	font-size: 48px;
	text-shadow: rgba(64,255,255,0.3) -3.5px 0, rgba(64,255,255,0.2) -7px 0, rgba(64,255,255,0.1) -10px 0;
}

h1 {
	text-align: center;
	color: #4040b0;
	font-size: 36px;
	
}

p {
	color: #202080;
	font-size: 24px;
	margin-right: 10%;
	margin-left: 10%;
}

p1 {
	color: #4040c0;
}

p2 {
	color: #202080;
}

.xdi8 {
	font-family: 'FiraXdi8 Regular', 'FiraSans Regular';
}

.ortho {
	font-size: 96px;
	font-family: 'Noto Shidinn';
}

div.center{
	text-align: center;
}

div.turn{
	transform: rotate(20deg);
	
}

a:link{
	color: #2040c0;
	text-decoration: none;
	
}

a:visited{
	color: #2040c0;
	text-decoration: none;
}

button {
	font-family: MonospaceTypewriter, "GenYoGothic R";
	font-size: 30px;
	display: inline-block;
	background: #d0d0ff;
	font-weight: bold;
    border: 2px solid #a0a0ff;
	border-radius: 4px;
	transition-duration: 0.2s
}

button:hover{
    background: #000040;
	border: 2px solid #000020;
	cursor: pointer
}

#consonants {
	text-align: center;
	color: #4040c0;
	font-size: 24px;
}

#vowel {
	text-align: center;
	color: #4040c0;
	font-size: 24px;
}

#ortho {
	text-align: center;
	color: #202080;
	font-size: 24px;
}
